* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    overflow: auto;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    border-radius: 30px;
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    min-width: 205px;
    padding: 0 20px;
    border: 1px solid #2e80ce;
    cursor: pointer;
    background: #2e80ce;
    color: #fff;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.7;
}

.row {
    display: flex;
}

.section__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}

.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

/* Header */
.header {
    padding: 30px 0px 10px;
    background: var(--header-bg);
}

.header--sticky {
    position: sticky;
    top: -20px;
    z-index: 100;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__branch {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.logo__branch--upper {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.4rem;
}

.logo__branch--lower {
    color: #fff;
    font-size: 1.2rem;
    align-self: flex-end;
    font-weight: 300;
    line-height: 1.4rem;
    margin-top: 5px;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-left: 42px;
}

.header__nav-link:hover,
.header__nav-link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
    display: flex;
    align-items: center;
}

/* Parent set display flex so don't need to set display:inline-block */
.header__nav-link--active::before {
    content: "";
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    left: -8px;
}

/* 
Remove space of its child 
*/
.header__actions {
    display: flex;
    align-items: center;
}

.header__actions-login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-left: 222px;
}

.header__actions-signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 28px;
}

/* Hero */
.hero {
    background-color: var(--header-bg);
    height: calc(100vh - 84px);
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__info {
    width: 44%;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem; /* 114.286% */
    letter-spacing: -0.14rem;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
    margin-top: 22px;
}

.hero__actions {
    margin-top: 38px;
    align-items: center;
}

.hero__call {
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
    margin-left: 38px;
}

.hero__media {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__media-img {
    position: relative;
    object-fit: cover;
    border-radius: 6px;
}

.hero__media-img--front {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__media-img--back {
    width: 210px;
    height: 410px;
}

/* Services */

.services {
    padding: 170px 0;
}

.services__title,
.services__desc {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin: 18px auto 0px;
}

.services__info {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.services__info-media {
    flex-basis: 49%;
}

.services__info-img {
    width: 100%;
    height: 570px;
    object-fit: cover;
}

.services__info-list {
    margin-top: 35px;
}

.service__info-item {
    display: flex;
    justify-content: center;
    padding: 22px 21px 18px 20px;
    transition: all 0.25s ease;
}

.service__info-item:hover {
    border-radius: 10px;
    transform: scale(1.05);
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__info-item:hover > .services__info-icon {
    color: #eff6fd;
    background: #2e80ce;
}

.services__info-icon {
    color: #10375c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.services__info-content {
    margin-left: 19px;
    text-align: left;
}

.service__info-name {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service__info-desc {
    width: 308px;
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.btn-services {
    margin-top: 55px;
}

/* Features */
.features {
    background: #f6fbff;
}

.features .container {
    padding: 100px 0px 116px;
}

.feature__desc {
    width: 468px;
    margin-top: 18px;
}

.feature__list {
    margin-top: 70px;
    gap: 30px;
}

.feature__item {
    /* position: relative; */
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    padding: 43px 42px;
    transition: 0.25s;
}

.feature__item:hover {
    border-color: #2e80ce;
    /* top: -16px; */
    transform: translateY(-16px);
}

.feature__item-icon {
    width: 72px;
    height: 72px;
}

.feature__item-name {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem; /* 138.462% */
    margin-top: 18px;
}

.feature__item-desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-top: 28px;
}

.feature__item-cta {
    display: inline-block;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-top: 18px;
}

.feature__item-cta:hover {
    color: #2e80ce;
    font-weight: 400;
}

/* Recommend Service */
.recommend-service {
    margin: 170px 0px;
}

.recommend-service .row {
    justify-content: center;
    align-items: center;
}

.recommend-service__media {
    position: relative;
    flex-basis: 48%;
}

.recommend-service__img {
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.recommend-service__img:first-child {
    width: 512px;
}

.recommend-service__img:last-child {
    width: 332px;
    position: absolute;
    right: 0;
    top: 121px;
}

.recommend-service__info {
    flex-basis: 0%;
    flex-grow: 1;
    margin-left: 130px;
}

.recommend-service__desc {
    margin-top: 18px;
}

.recommend-service__cta {
    margin-top: 38px;
}
