* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    overflow: auto;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    border-radius: 30px;
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    min-width: 205px;
    padding: 0 20px;
    border: 1px solid #2e80ce;
    cursor: pointer;
    background: #2e80ce;
    color: #fff;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.7;
}

.row {
    display: flex;
}

.section__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}

.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

.control {
    display: flex;
    align-items: center;
    gap: 18px;
}

.control .control__button {
    border: 1px solid #575f66;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575f66;
    transition: background 0.25s ease;
    cursor: pointer;
}

.control .control__button:hover {
    background: #2e80ce;
    border-color: #2e80ce;
    color: white;
}

/* Header */
.header {
    padding: 30px 0px 10px;
    background: var(--header-bg);
}

.header--sticky {
    position: sticky;
    top: -20px;
    z-index: 100;
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__branch {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.logo__branch--upper {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.4rem;
}

.logo__branch--lower {
    color: #fff;
    font-size: 1.2rem;
    align-self: flex-end;
    font-weight: 300;
    line-height: 1.4rem;
    margin-top: 5px;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-left: 42px;
}

.header__nav-link:hover,
.header__nav-link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
    display: flex;
    align-items: center;
}

/* Parent set display flex so don't need to set display:inline-block */
.header__nav-link--active::before {
    content: "";
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    left: -8px;
}

/* 
Remove space of its child 
*/
.header__actions {
    display: flex;
    align-items: center;
}

.header__actions-login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-left: 222px;
}

.header__actions-signup {
    --height: 44px;
    min-width: 104px;
    margin-left: 28px;
}

/* Hero */
.hero {
    background-color: var(--header-bg);
    height: calc(100vh - 84px);
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__info {
    width: 44%;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem; /* 114.286% */
    letter-spacing: -0.14rem;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
    margin-top: 22px;
}

.hero__actions {
    margin-top: 38px;
    align-items: center;
}

.hero__call {
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem; /* 166.667% */
    margin-left: 38px;
}

.hero__media {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__media-img {
    position: relative;
    object-fit: cover;
    border-radius: 6px;
}

.hero__media-img--front {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__media-img--back {
    width: 210px;
    height: 410px;
}

/* Services */

.services {
    padding: 170px 0;
}

.services__title,
.services__desc {
    text-align: center;
}

.services__desc {
    width: 468px;
    margin: 18px auto 0px;
}

.services__info {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.services__info-media {
    flex-basis: 49%;
}

.services__info-img {
    width: 100%;
    height: 570px;
    object-fit: cover;
}

.services__info-list {
    margin-top: 35px;
}

.service__info-item {
    display: flex;
    justify-content: center;
    padding: 22px 21px 18px 20px;
    transition: all 0.25s ease;
}

.service__info-item:hover {
    border-radius: 10px;
    transform: scale(1.05);
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service__info-item:hover > .services__info-icon {
    color: #eff6fd;
    background: #2e80ce;
}

.services__info-icon {
    color: #10375c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.services__info-content {
    margin-left: 19px;
    text-align: left;
}

.service__info-name {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service__info-desc {
    width: 308px;
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.btn-services {
    margin-top: 55px;
}

/* Features */
.features {
    background: #f6fbff;
}

.features .container {
    padding: 100px 0px 116px;
}

.feature__desc {
    width: 468px;
    margin-top: 18px;
}

.feature__list {
    margin-top: 70px;
    gap: 30px;
}

.feature__item {
    /* position: relative; */
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    padding: 43px 42px;
    transition: 0.25s;
}

.feature__item:hover {
    border-color: #2e80ce;
    /* top: -16px; */
    transform: translateY(-16px);
}

.feature__item-icon {
    width: 72px;
    height: 72px;
}

.feature__item-name {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem; /* 138.462% */
    margin-top: 18px;
}

.feature__item-desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-top: 28px;
}

.feature__item-cta {
    display: inline-block;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-top: 18px;
}

.feature__item-cta:hover {
    color: #2e80ce;
    font-weight: 400;
}

/* Recommend Service */
.recommend-service {
    margin: 170px 0px 291px;
}

.recommend-service .row {
    justify-content: center;
    align-items: center;
}

.recommend-service__media {
    position: relative;
    flex-basis: 48%;
}

.recommend-service__img {
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.recommend-service__img:first-child {
    width: 512px;
}

.recommend-service__img:last-child {
    width: 332px;
    position: absolute;
    right: 0;
    top: 121px;
}

.recommend-service__info {
    flex-basis: 0%;
    flex-grow: 1;
    margin-left: 130px;
}

.recommend-service__desc {
    margin-top: 18px;
}

.recommend-service__cta {
    margin-top: 38px;
}

/* Member */
.member {
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 34px;
}

.member-item--bg {
    border-radius: 6px;
    overflow: hidden;
    padding-top: 28px;
    background: #eaf6ff;
}

.member-item__avatar {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: cover;
    transition: transform 0.25s ease;
}

.member-item:hover .member-item__avatar {
    transform: scale(1.1);
}

.member-item__name {
    color: #10375c;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
}

.member-item-title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem; /* 185.714% */
}

.member__navigation {
    justify-content: center;
    margin-top: 38px;
}

/* Dentist app */
.dentist-app {
    margin-top: 170px;
}

.dentist-app__inner {
    padding: 0px 70px;
    border-radius: 4px;
    background: #2e80ce;
    align-items: center;
    justify-content: space-between;
}

.dentist-app__img {
    display: block;
    margin-top: -95px;
    object-fit: cover;
}

.dentist-app__info {
    max-width: 586px;
}

.dentist-app__heading {
    max-width: 489px;
    color: white;
}

.dentist-app__desc {
    margin-top: 18px;
    color: white;
}

.dentist-app__actions {
    display: flex;
    margin-top: 38px;
    align-items: center;
    gap: 28px;
}

/* News */
.news {
    margin-top: 170px;
}

.news__inner {
    justify-content: space-between;
}

.news__content {
    flex-basis: 51%;
}

.news__heading {
    max-width: 470px;
}

.news__read-all {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 155.556% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.news__list {
    display: flex;
    gap: 30px;
    flex-basis: 49%;
}

.news-item {
    max-width: 270px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e8ebee;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__img {
    transform: scale(1.1);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item:hover .news-item_read-cta {
    color: #2e80ce;
}

.news-item__body {
    padding: 18px 22px 21px;
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
}

.news-item__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem; /* 162.5% */
}

.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem; /* 171.429% */
}

.news-item__img {
    width: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.news-item_read-cta {
    display: inline-block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Appointment */
.appointment {
    margin: 170px 0px;
}

.appointment__inner {
    padding: 100px 179px;
    background: #f6fbff;
    text-align: center;
}

.appointment__heading::after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    position: relative;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.appointment__desc {
    width: 617px;
    margin: 38px auto;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
}

/* Footer */
.footer {
    background: #10375c;
}

.footer__inner {
    padding: 100px 0px 42px;
}

.footer__row {
    justify-content: space-between;
}

.footer__desc {
    max-width: 336px;
    margin-top: 21px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
}

.footer__heading {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.footer__list {
    display: inline-block;
    margin: 20px 0px 28px;
}

.footer__link {
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
    margin-top: 10px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px 28px;
}

.footer__social-btn {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 32px;
    background: #fff;
    color: #2e80ce;
    transition: all 0.25s ease;
}

.footer__social-btn:hover {
    background: #2e80ce;
    color: #fff;
}

.footer__subscribe {
    margin-top: 10px;
    display: flex;
}

.footer__subscribe--input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    background: none;
    border: 1px solid #406181;
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    padding: 10px;
    line-height: 2.6rem; /* 185.714% */
}

.btn__footer {
    min-width: 108px;
    line-height: 46px;
    height: 46px;
    margin-left: 12px;
    text-align: center;
    border-radius: 4px;
}

.footer__copyright {
    position: relative;
}

.footer__copyright-text {
    color: #aab3ba;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.4rem;
    line-height: 2.6rem; /* 185.714% */
    margin: 0px auto;
    padding-top: 28px;
}

.footer__copyright-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #406181;
    top: 0;
    left: 0;
}
